<!DOCTYPE html>
<html>
<head>
  <title>Store</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="nav">
  <ul>
    <% if logged_in? %>
      <li><%= link_to "log out", logout_path %></li>
    <% else %>
      <li><%= link_to "log in", login_path %></li>
    <% end %>
  </ul>
</div>

<div class="main-area">
  <h1>I ET ANMELZ</h1>
  <h3>want to eat baby animals? order them here!</h3>
  <%= yield %>
</div>
<% if logged_in? %>
  <br>
  <div class="sidebar">
    <%= render :partial => 'layouts/sidebar' %>
  </div>
  <%= current_user.email %>
<% end %>

</body>
</html>
